/* elementor */
.elementor-widget-theme-site-logo [src$=".svg"] {
	width: auto!important;
}

/* button */
.elementor-align-justify .elementor-button-wrapper .btn {
	@extend .btn-block;
}

/* headings */
body .elementor-heading-title {
	@extend %h;
}
body .elementor-widget-heading .elementor-heading-title.elementor-size-xxl {
	@extend %h1;
}
body .elementor-widget-heading .elementor-heading-title.elementor-size-xl {
	@extend %h2;
}
body .elementor-widget-heading .elementor-heading-title.elementor-size-large {
	@extend %h3;
}
body .elementor-widget-heading .elementor-heading-title.elementor-size-medium {
	@extend %h5;
}
body .elementor-widget-heading .elementor-heading-title.elementor-size-small {
	@extend %h6;
}

/* forms */
.elementor-widget-form .elementor-field-group > label {
	@extend %label;
}

.elementor-field-group .elementor-field-textual {
	@extend %input-text;
}

.elementor-form .elementor-button {
	@extend .btn;
	@extend .btn-primary;
}

/* tabs */
.exm-tabs.elementor-widget-tabs {
	.elementor-tabs-wrapper {
		display: flex;
		flex-direction: column;
	}
	.elementor-tab-title {
		border: 1px solid #E5ECFA;
		border-radius: 8px;
		margin: 0;
		flex-grow: 1;
		display: flex;
		flex-direction: column;
		padding: 25px;
		line-height: 1.5;
		font-weight: normal;
	}
	@media (min-width: 1024px) {
		.elementor-tab-mobile-title { display: none; }
	}
	@media (max-width: 1023px) {
		.elementor-tabs-wrapper { display: none; }
		.elementor-tab-mobile-title { display: flex; }
	}
	.elementor-tab-desktop-title + div { margin-top: 20px; }
	@media (max-width: 1023px) {
		div + .elementor-tab-title { margin-top: 20px; }
	}
	.elementor-tab-title:before,
	.elementor-tab-title:after { display: none; }
	.elementor-tab-title a { color: #556077; }
	.elementor-tab-title:hover { border: 1px solid #CAD3E6; }
	.elementor-tab-title.elementor-active {
		background: #F9FBFF;
	}
	.elementor-tab-title.elementor-tab-title:after {
		content: 'Read more';
		display: block;
		position: static;
		width: auto;
		height: auto;
		margin-top: auto;
		font-weight: 500;
		border: none;
		color: #057FDA;
		opacity: 0;
		min-height: 0;
		transition: all 0.3s;
	}
	.elementor-tab-title.elementor-active:after {
		opacity: 1;
		padding-top: 20px;
		min-height: 40px;
	}
	.elementor-tab-title strong {
		display: block;
		margin-bottom: 10px;
		font-size: 18px;
		color: #1E2533
	}

	.elementor-tab-content {
		height: 100%;
		border: 1px solid #E5ECFA;
		border-radius: 8px;
		background: #F9FBFF;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		&.elementor-active {
			display: flex;
		}
		img {
			border-radius: 8px;
		}
		@media (max-width: 1023px) {
			height: auto;
		}
	}
	.elementor-tab-content :last-child { margin-bottom: 0; }
	.elementor-tabs-content-wrapper { border: none; }
	@media (min-width: 1024px) {
		.elementor-tabs-content-wrapper { padding: 0 0 0 30px; }
	}
}