.wpforms-field {
	@extend %form-row;
}

.wpforms-field-label {
	@extend %label;
}

.wpforms-field-sublabel {
	@extend %label;
	font-size: 0.875rem;
	&.after {
		margin-top: 2px;
	}
}

.wpforms-field-email input,
.wpforms-field-number input,
.wpforms-field-name input,
.wpforms-field-phone input,
.wpforms-field-address input,
.wpforms-field-date-time input,
.wpforms-field-url input,
.wpforms-field-url input,
.wpforms-field-password input,
.wpforms-field-text input {
	@extend %input-text;
}

.wpforms-field-textarea textarea {
	@extend %textarea;
}

.wpforms-field-address select,
.wpforms-field-select select {
	@extend %select;
}

.wpforms-field-radio ul,
.wpforms-field-checkbox ul {
	list-style: none;
	padding: 0;
	margin: 0;
	input {
		margin-right: 3px;
	}
}

.wpforms-field-hp,
.wpforms-label-hide {
	display: none;
}

.wpforms-page-button {
	@extend .btn;
	@extend .btn-secondary;
}

input.wpforms-errors {
	border-color: $danger;
}
label.wpforms-error {
	color: $danger;
}

.wpforms-field-row {
	display: flex;
	margin-left: -5px;
	margin-right: -5px;
	margin-bottom: 5px;
}
.wpforms-field-row > div,
.wpforms-field-row-block {
	width: 100%;
	padding-left: 5px;
	padding-right: 5px;
}
.wpforms-one-half {
	flex: 0 0 50%;
	max-width: 50%;
}