.review-box {
	 background: #fff;
	 border-radius: 10px;
	 padding: 50px;
}
 .review-box__stars {
	 margin-bottom: 10px;
	 padding: 0 0 20px 0;
}
 .review-box__content {
	 padding: 0 0px 30px;
	 font-size: 20px;
	 color: #171f28;
	 line-height: 30px;
}
 .review-box__author {
	 padding: 30px 0 0 0;
	 border-top: 1px solid #dee5ee;
	 color: #171f28;
	 font-size: 20px;
	 line-height: 30px;
	 color: #171f28;
}
 .review-box__author span + span:before {
	 content: ' - ';
}
 .stars path {
	 fill: #ffa526;
}
 .stars--1 svg:nth-child(1) ~ svg path {
	 fill: #fae7d4;
}
 .stars--2 svg:nth-child(2) ~ svg path {
	 fill: #fae7d4;
}
 .stars--3 svg:nth-child(3) ~ svg path {
	 fill: #fae7d4;
}
 .stars--4 svg:nth-child(4) ~ svg path {
	 fill: #fae7d4;
}
 