
.btn {
	line-height: 1.5;
	font-size: 1rem;
	border-radius: 3px;
	border: 1px solid;
	display: inline-block;
	padding: 7px 15px;
	text-align: center;
	cursor: pointer;
	font-weight: 600;
	transition: all 0.2s;
}

.btn-block {
	display: block;
	width: 100%;
}

.btn-xs { font-size: 0.875rem; padding: 7px 15px; }
.btn-sm { font-size: 0.96rem; padding: 7px 15px; }
.btn-md { font-size: 1rem; padding: 7px 15px; }
.btn-lg { font-size: 1.25rem; padding: 7px 15px; }
.btn-xl { font-size: 1.33rem; padding: 7px 15px; }

.btn .elementor-align-icon-right {
    margin-left: 5px;
    order: 15;
}

@each $color, $value in $theme-colors {
  .btn-#{$color} {
	color: color-yiq($value);
	background-color: $value;
	border-color: $value;
	&:hover,
	&:focus {
		color: color-yiq($value);
		background-color: darken($value, 7.5%);
		border-color: darken($value, 7.5%);
	}
  }
}

@each $color, $value in $theme-colors {
  .btn-outline-#{$color} {
	color: $value;
	background-color: transparent;
	border-color: $value;
	&:hover,
	&:focus {
		color: color-yiq($value);
		background-color: $value;
		border-color: $value;
	}
  }
}

button {
	@extend .btn;
	@extend .btn-secondary;
}