%form-row {
	display: block;
	margin-bottom: 10px;
}

%label {
	cursor: pointer;
	font-weight: 500;
	font-family: $font-family-base;
	margin: 0;
	display: block;
}

%input-text {
	width: 100%;
	font-weight: 400;
	font-family: $font-family-base;
	font-size: 1rem;
	border-radius: 3px;
	padding: 10px 14px;
	background: #fff;
	border: 1px solid #ccc;
	color: #333;
	margin: 0;
	min-height: 44px;
	&:focus {
		-webkit-box-shadow: 0 0 0 1px rgba(0,0,0,.1) inset;
		box-shadow: inset 0 0 0 1px rgba(0,0,0,.1);
		outline: 0;
	}
}

%textarea {
	@extend %input-text;
	overflow: auto;
	resize: vertical;
}

%select {
	@extend %input-text;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	padding-right: 20px;
}

%select-wrapper {
	position: relative;
	&:before {
		content: "\e92a";
		font-family: eicons;
		font-size: 15px;
		position: absolute;
		top: 50%;
		-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		transform: translateY(-50%);
		right: 10px;
		pointer-events: none;
	}
}