a {
  color: $primary;
  text-decoration: none;
  background-color: transparent; // Remove the gray background on active links in IE 10.
  transition: all 0.2s;

  &:hover {
    color: darken($primary, 10);
    text-decoration: none;
  }
}

%h {
	color: #000;
	font-family: Texta Alt, arial, sans-serif;
}
%h1 {
	font-size: 48px;
	font-weight: 700;
	letter-spacing: -0.48px;
	line-height: 0.9;
}
%h2 {
	font-size: 38px;
	font-weight: 700;
	letter-spacing: -0.76px;
	line-height: 0.95;
}
%h3 { font-size: 24px; }
%h4 {
	font-size: 22px;
}
%h5 {
	font-size: 20px;
}
%h6 {
	font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	@extend %h
}
h1 { @extend %h1 }
h2 { @extend %h2 }
h3 { @extend %h3 }
h4 { @extend %h4 }
h5 { @extend %h5 }
h6 { @extend %h6 }