/* Colors */

$blue:     #0d6efd !default;
$indigo:   #6610f2 !default;
$purple:   #6f42c1 !default;
$pink:     #d63384 !default;
$red:      #dc3545 !default;
$orange:   #fd7e14 !default;
$yellow:   #ffc107 !default;
$green:    #28a745 !default;
$teal:     #42BEC9 !default;
$cyan:     #17a2b8 !default;
$white:    #fff !default;
$black:    #000 !default;

$primary:       $teal !default;
$secondary:     #ebe9eb !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         #f8f9fa !default;
$dark:          #343a40 !default;
$white:         $white !default;
$black:         $black !default;

$theme-colors: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$theme-colors: map-merge(
  (
    "primary":    $primary,
    "secondary":  $secondary,
    "success":    $success,
    "info":       $info,
    "warning":    $warning,
    "danger":     $danger,
    "light":      $light,
    "dark":       $dark,
    "white":      $white,
    "black":      $black
  ),
  $theme-colors
);

$yiq-contrasted-threshold:  150 !default;
$yiq-text-dark: $dark !default;
$yiq-text-light: $white !default;

/* typography */

$font-family-base: arial, sans-serif;

$font-size-base:   1rem;
$font-weight-base: 400;
$line-height-base: 1.5;

$body-color: $dark;
$body-bg:    $white;

$paragraph-margin-bottom: 1rem;
$headings-margin-bottom: 1rem;

/* woocommerce */

$primarytext:       color-yiq($primary) !default;                 // Text on primary color bg=
$secondarytext:     color-yiq($secondary) !default;               // Text on secondary color bg

$highlight:         adjust-hue($primary, 150deg) !default;  // Prices, In stock labels, sales flash
$highlightext:      color-yiq($highlight) !default;               // Text on highlight color bg

$contentbg:         #fff !default;                          // Content BG - Tabs (active state)
$subtext:           #767676 !default;                       // small, breadcrumbs etc