.slider__swiper {overflow:hidden;}
.slider { transition: all 0.5s; padding-left: 5px; padding-right: 5px; display: inline-flex; flex-wrap: wrap; text-align: left; justify-content: center; margin-bottom: 0; }
.slider.swiper-slide { height: auto; }
.swiper-slide { max-width: 100% !important; }

.slider__audio { margin-top: 30px; }

.slider__swiper .swiper-button-next,
.slider__swiper .swiper-button-prev {
	opacity: 0;
	height: 25px;
	width: 15px;
	background-image: url("data:image/svg+xml,%3Csvg width='14' height='27' viewBox='0 0 14 27' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L13 13.5L1 26' stroke='black' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
	top: 40%;
}
.slider__swiper .swiper-button-next {
	right: -40px;
}
.slider__swiper .swiper-button-prev {
	transform: scaleX(-1);
	left: -40px;
}

.swiper-container-initialized .slider { opacity: 0; } /*opacity: 0.3;*/
.swiper-container-initialized .slider.swiper-slide-active { opacity: 1; }
.swiper-container-initialized .swiper-button-next:not(.swiper-button-disabled),
.swiper-container-initialized .swiper-button-prev:not(.swiper-button-disabled) {
	opacity: 1;
}


@media (max-width: 767px) {
    .slider__swiper .swiper-button-next,
    .slider__swiper .swiper-button-prev { display: none!important; }

	.slider__content { padding: 30px; }
	.slider__quote { font-size: 18px; }
	.slider__details { display: block; }
	.slider__position:before { display: none; }
}

.slider__content { display: flex; flex-direction: column; justify-content: center; width: 100%; /*color: #fff;*/}

.slider__feature--image img {
	border-radius: 8px;
	width: 100%;
}

.slider__feature--title {
	font-size: 18px;
	line-height: 1.5em;
	font-weight: 700;
	padding: 10px 0;
}

.slider__feature--content {
	font-size: 16px;
	line-height: 1.5em;
	padding: 10px 0;
}

.slider__feature--button {
	padding: 10px 0;
}

.slider__divider {
	width: 100%;
	border-top: 1px solid rgba(0,0,0, .2);
	margin: 40px 0;
	-webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box; /* Firefox 4+, Opera, Chrome */
}

.slider__details { 
	display: flex;
	margin-top: 30px;
	position: relative; 
}

.slider__quote { 
	font-size: 16px; 
	line-height: 1.5em; 
	font-weight: 400; 
	letter-spacing: -0.02em;
}

.slider__credentials {
	text-align: left;
    align-self: center;
	margin-left: 10px;
	font-size: 13px; 
	line-height: 1.5em; 
	font-weight: 400;
}

.slider__image img { 
	height: 40px; 
	width: 40px; 
	border-radius: 50%; 
}

.slider__name { 
	font-weight: 700; 
}
