/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
.hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent !important;
  border: 0;
  margin: 0;
  overflow: visible; }

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: #032C57; }

.hamburger-box {
  width: 40px;
  height: 40px;
  display: inline-block;
  position: relative; }

.hamburger-inner {
  display: block;
  top: 50%;
  width: 22px;
  left: 9px;
  margin-top: -0.5px; }

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  width: 22px;
  height: 2px;
  background-color: #032C57;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease; }

.hamburger-inner::before, .hamburger-inner::after {
  content: "";
  display: block; }

.hamburger-inner::before {
  top: -8px; }

.hamburger-inner::after {
  bottom: -8px; }

/*
   * Spin
   */
.hamburger--spin .hamburger-inner {
  transition-duration: 0.22s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--spin .hamburger-inner::before {
  transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in; }

.hamburger--spin .hamburger-inner::after {
  transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--spin.collapsed .hamburger-inner {
  transform: rotate(0);
  transition-duration: 0.22s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--spin.collapsed .hamburger-inner::before {
  top: -8px;
  opacity: 1;
  transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in; }

.hamburger--spin.collapsed .hamburger-inner::after {
  bottom: -8px;
  transform: rotate(0);
  transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--spin .hamburger-inner {
  transform: rotate(225deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }

.hamburger--spin .hamburger-inner::before {
  top: 0;
  opacity: 0;
  transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out; }

.hamburger--spin .hamburger-inner::after {
  bottom: 0;
  transform: rotate(-90deg);
  transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1); }

.e-header {
  padding: 0;
  border-bottom: 1px solid rgba(3, 44, 87, 0.1); }
	.e-header:hover {
		background: #fff;
	}
  .e-header .navbar {
    min-height: 0;
    padding: 0 20px;
    width: 100%;
    margin: 0;
    border: none; }
  .e-header .custom-logo-link {
    margin-right: auto;
    display: block;
    padding: 26.5px 0; }
    .e-header .custom-logo-link svg {
      width: 100%; }
  .e-header .nav-item {
    margin: 0; }
  .e-header .nav-link {
    padding: 35px 15px;
    font-size: 16px;
    font-weight: 500;
    color: #032C57;
    line-height: 1;
    display: flex;
    align-items: center; }
    .e-header .nav-link > svg {
			color: #26BCB4;
      margin-left: 5px; }
    .e-header .nav-link:hover {
      background: none;
      color: #26BCB4; }
  .e-header .navbar-buttons {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex; }
    .e-header .navbar-buttons li {
      display: block; }
      .e-header .navbar-buttons li + li {
        margin-left: 15px; }
    .e-header .navbar-buttons .nav-item {
      display: flex;
      align-items: center; }
    .e-header .navbar-buttons .nav-link,
    .e-header .navbar-buttons button {
      font-size: 16px;
      font-weight: 500;
      line-height: 1.25;
      padding: 9px 15px;
      border-radius: 8px;
      border: 1px solid;
      text-transform: none;
      letter-spacing: normal; }
    .e-header .navbar-buttons .button-primary button,
    .e-header .navbar-buttons .button-primary .nav-link {
      background-color: #FFA526;
      color: #fff;
      border: 2px solid #FFA526; }
      .e-header .navbar-buttons .button-primary button:hover, .e-header .navbar-buttons .button-primary button:focus,
      .e-header .navbar-buttons .button-primary .nav-link:hover,
      .e-header .navbar-buttons .button-primary .nav-link:focus {
        background-color: #FF9524;
        color: #fff;
        border: 2px solid #FF9524; }
    .e-header .navbar-buttons .button-outline-dark button,
    .e-header .navbar-buttons .button-outline-dark .nav-link {
      background-color: transparent;
      color: #032C57;
      border: 1px solid #032C57; }
      .e-header .navbar-buttons .button-outline-dark button:hover, .e-header .navbar-buttons .button-outline-dark button:focus,
      .e-header .navbar-buttons .button-outline-dark .nav-link:hover,
      .e-header .navbar-buttons .button-outline-dark .nav-link:focus {
        background-color: #032C57;
        color: #fff;
        border: 1px solid #032C57; }
  @media (min-width: 992px) {
    .e-header > .elementor-section > .elementor-container {
      position: static; }
    .e-header .custom-logo-link {
      margin: 0 45px 0 0; }
    .e-header .navbar {
      display: flex;
      align-items: center;
      position: static; }
      .e-header .navbar-buttons {
        margin-left: auto; }
      .e-header .navbar-toggler {
        display: none; }
    .e-header .navbar-nav-wrapper {
      display: block !important; }
      .e-header .navbar-nav-wrapper .navbar-buttons {
        display: none;
				}
    .e-header__menu {
      display: flex;
      padding: 0;
      margin: 0;
      list-style: none; }
    .e-header .nav-item:hover .nav-link,
		.e-header .nav-item.active .nav-link {
      color: #26BCB4; }
    .e-header .nav-item:hover > .nav-link > svg {
      transform: scaleY(-1); }
    .e-header .mega-menu {
      position: static; }
    .e-header .dropdown-toggle:after {
      display: none; }
    .e-header .dropdown-menu {
      border: 1px solid rgba(3, 44, 87, 0.1);
      margin: 0;
      border-radius: 3px;
      padding: 0;
      background: #fff;
      width: 345px; }
    .e-header .dropdown-menu--mega {
			width: 100%;
			box-shadow: none;
			border-radius: 0;
			left: 0;
			width: 100%;
			border-left: 0;
			border-right: 0;
		}
    .e-header .dropdown:hover .dropdown-menu {
      display: block; }
    .e-header .dropdown-item {
      padding: 15px;
      font-size: 13px;
      color: #032C57;
      white-space: normal; }
      .e-header .dropdown-item__header {
        font-size: 16px;
        display: block;
        font-weight: 600;
        margin-bottom: 10px;
        transition: all 0.2s; }
      .e-header .dropdown-item:last-child .dropdown-item__header {
        margin-bottom: 0; }
      .e-header .dropdown-item:hover {
        background: none; } }
  .e-header .admin-bar {
    top: 32px; }
  @media (max-width: 782px) {
    .e-header .admin-bar {
      top: 46px; } }
  @media (max-width: 991px) {
    .e-header .btn-toggle {
      background: none;
      border: none;
      padding: 0;
      border-radius: 0;
      height: 20px;
      font-size: 0; }
      .e-header .btn-toggle.collapsed svg {
        transform: scaleY(-1); }
    .e-header .navbar-toggler {
      padding: 0;
      background: none;
      border: none;
      border-radius: 0;
      display: block;
      height: 40px; }
      .e-header .navbar-toggler .hamburger-inner, .e-header .navbar-toggler .hamburger-inner::before, .e-header .navbar-toggler .hamburger-inner::after {
        background-color: #032C57; }
    .e-header .custom-logo-link {
      max-width: 60%;
		margin-left: 10px;  }
    .e-header .navbar {
      display: flex;
      flex-wrap: wrap;
      align-items: center; }
    .e-header .navbar-nav-wrapper,
    .e-header .navbar-nav-wrapper.show,
    .e-header .navbar-nav-wrapper.collapsing {
      transition: none;
      width: 100%;
      order: 12;
      position: absolute;
      top: 100%;
      overflow-y: auto;
      left: 0;
      z-index: 990;
      right: 0;
      background: #fff;
      padding-bottom: 20px;
      border-top: 1px solid rgba(3, 44, 87, 0.1);
      height: calc(100vh - 90px) !important; }
    .e-header--scrolled .navbar-nav-wrapper,
    .e-header--scrolled .navbar-nav-wrapper.show,
    .e-header--scrolled .navbar-nav-wrapper.collapsing {
      height: calc(100vh - 90px) !important; }
    .e-header .menu {
      list-style: none;
      padding: 0 20px;
      margin: 30px auto 0; }
			.e-header .nav-item {
				margin-bottom: 20px;
			}
			.e-header .button-outline-dark { margin-bottom: 0; }
    .e-header .nav-link {
      color: #032C57;
      font-weight: 500;
      padding: 10px 10px;
			min-height: 0!important;
      display: flex;
      align-items: center;
      font-size: 22px; }
    .e-header .nav-link:hover svg {
      transform: scaleY(-1); }
    .e-header .dropdown-toggle:after {
      display: none; }
    .e-header .dropdown-menu {
      border: none;
      margin: 0;
      position: static;
      background: none;
      padding: 0;
      width: 100%;
      box-shadow: none; }
    .e-header .dropdown-menu--mega {
      padding-left: 5px;
      padding-right: 5px; }
      .e-header .dropdown-menu--mega .elementor-section.elementor-section-boxed > .elementor-container,
      .e-header .dropdown-menu--mega .elementor-section.elementor-section-boxed > .elementor-container > .elementor-row {
        max-width: none;
        width: 100%;
        padding: 0; }
      .e-header .dropdown-menu--mega .elementor-cta__button {
        text-align: inherit; }
    .e-header .dropdown-item {
      padding: 15px;
      font-size: 13px;
      color: #032C57;
      white-space: normal; }
      .e-header .dropdown-item__header {
        font-size: 16px;
        display: block;
        color: #032C57;
        font-weight: 700;
        margin-bottom: 10px;
        transition: all 0.2s; }
      .e-header .dropdown-item:hover {
        background: none; }
    .e-header__main {
      padding-top: 25px;
      padding-bottom: 5px; }
    .e-header .navbar {
      display: flex; }
      .e-header .navbar-buttons {
        margin-left: auto; }
        .e-header .navbar-buttons li + li {
          margin-left: 5px; }
      .e-header .navbar-toggler {
        display: block;
        margin-left: 5px; }
      .e-header .navbar-nav-wrapper .navbar-buttons {
        display: block;
				padding: 0 30px;
				margin-top: 30px;
				}
      .e-header .navbar-nav-wrapper .navbar-buttons .nav-link {
					width: 100%;
					font-size: 18px;
					padding: 13px 15px;
					background-color: #26BCB4;
					border-color: #26BCB4;
					color: #fff;
					text-align: center;
					display: block;
				}
				.e-header .navbar-nav-wrapper .navbar-buttons .nav-link:hover,
				.e-header .navbar-nav-wrapper .navbar-buttons .nav-link:focus {
					background-color: #009083;
					border-color: #009083;
					color: #fff;
				}


			.elementor-222 .elementor-element.elementor-element-c678bbb .elementor-location-header {
				max-width: 100%!important;
				width: 100%!important;
			}


			@media (max-width: 767px) {
				.menu-item-378 .elementor-element-e9c4de7 {
					border: 1px solid rgba(0, 0, 0, 0.08);
						box-sizing: border-box;
						box-shadow: 0px 15px 30px rgb(0 0 0 / 6%), 0px 10px 15px rgb(0 0 0 / 3%);
						border-radius: 12px;
						margin: 20px 0 40px 0!important;
						overflow: hidden;
						padding: 30px 30px 10px 30px!important;
				}
				.menu-item-378 .elementor-location-header {
					padding: 0!important;
				}

				.menu-item-2809 .elementor-element-e9c4de7 {
						padding-left: 10px!important;
						padding-right: 10px!important;
				}
				}
			}
