 /* Colors */ /* typography */ /* woocommerce */ /**
 * Imports
 */ /**
 * Deprecated
 * Fallback for bourbon equivalent
 */ /**
 * Deprecated
 * Vendor prefix no longer required.
 */ /**
 * Deprecated
 * Vendor prefix no longer required.
 */ /**
 * Deprecated
 * Vendor prefix no longer required.
 */ /**
 * Deprecated
 * Vendor prefix no longer required.
 */ /**
 * Deprecated
 * Vendor prefix no longer required.
 */ /**
 * Deprecated
 * Vendor prefix no longer required.
 */ /**
 * Deprecated
 * Vendor prefix no longer required.
 */ /**
 * Deprecated
 * Vendor prefix no longer required.
 */ /**
 * Deprecated
 * Vendor prefix no longer required.
 */ /**
 * Deprecated
 * Vendor prefix no longer required.
 */ /**
 * Deprecated
 * Vendor prefix no longer required.
 */ /**
 * Deprecated
 * Use bourbon mixin instead `@include transform(scale(1.5));`
 */ /**
 * Deprecated
 * Use bourbon mixin instead `@include box-sizing(border-box);`
 */ /**
 * Objects
 */ /**
 * _animation.scss
 * Custom WooCommerce Animations.
 */

@import "header.css";


@keyframes spin { 100% { transform:rotate(360deg); }

 }

 *,*::before,*::after { box-sizing:border-box; }

 html { font-family:sans-serif; line-height:1.15; -webkit-text-size-adjust:100%; -webkit-tap-highlight-color:rgba(0, 0, 0, 0); }

 article,aside,figcaption,figure,footer,header,hgroup,main,nav,section { display:block; }

 body { margin:0; font-family:arial, sans-serif; font-size:1rem; font-weight:400; line-height:1.5; color:#343a40; text-align:left; background-color:#fff; }

 [tabindex="-1"]:focus:not(:focus-visible) { outline:0 !important; }

 hr { box-sizing:content-box; height:0; overflow:visible; }

 h1,h2,h3,h4,h5,h6 { margin-top:0; margin-bottom:1rem; }

 p { margin-top:0; margin-bottom:1rem; }

 abbr[title],abbr[data-original-title] { text-decoration:underline; text-decoration:underline dotted; cursor:help; border-bottom:0; text-decoration-skip-ink:none; }

 address { margin-bottom:1rem; font-style:normal; line-height:inherit; }

 ol,ul,dl { margin-top:0; margin-bottom:1rem; }

 ol ol,ul ul,ol ul,ul ol { margin-bottom:0; }

 dt { font-weight:500; }

 dd { margin-bottom:0.5rem; margin-left:0; }

 blockquote { margin:0 0 1rem; }

 b,strong { font-weight:700; }

 small { font-size:80%; }

 sub,sup { position:relative; font-size:75%; line-height:0; vertical-align:baseline; }

 sub { bottom:-0.25em; }

 sup { top:-0.5em; }

 pre,code,kbd,samp { font-family:SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default; font-size:1em; }

 pre { margin-top:0; margin-bottom:1rem; overflow:auto; }

 figure { margin:0 0 1rem; }

 img { vertical-align:middle; border-style:none; }

 svg { overflow:hidden; vertical-align:middle; }

 table { border-collapse:collapse; }

 caption { padding-top:0.75rem; padding-bottom:0.75rem; color:inherit; text-align:left; caption-side:bottom; }

 th { text-align:inherit; }

 label { display:inline-block; }

 button { border-radius:0; }

 button:focus { outline:1px dotted; outline:5px auto -webkit-focus-ring-color; }

 input,button,select,optgroup,textarea { margin:0; font-family:inherit; font-weight:inherit; line-height:inherit; }

 button,input { overflow:visible; }

 button,select { text-transform:none; }

 select { word-wrap:normal; }

 button,[type="button"],[type="reset"],[type="submit"] { -webkit-appearance:button; }

 button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner { padding:0; border-style:none; }

 input[type="radio"],input[type="checkbox"] { box-sizing:border-box; padding:0; }

 input[type="date"],input[type="time"],input[type="datetime-local"],input[type="month"] { -webkit-appearance:listbox; }

 textarea { overflow:auto; resize:vertical; }

 fieldset { min-width:0; padding:0; margin:0; border:0; }

 legend { display:block; width:100%; max-width:100%; padding:0; margin-bottom:0.5rem; font-size:1.5rem; line-height:inherit; color:inherit; white-space:normal; }

 progress { vertical-align:baseline; }

 [type="number"]::-webkit-inner-spin-button,[type="number"]::-webkit-outer-spin-button { height:auto; }

 [type="search"] { outline-offset:-2px; -webkit-appearance:none; }

 [type="search"]::-webkit-search-decoration { -webkit-appearance:none; }

 ::-webkit-file-upload-button { font:inherit; -webkit-appearance:button; }

 output { display:inline-block; }

 summary { display:list-item; cursor:pointer; }

 template { display:none; }

 [hidden] { display:none !important; }

 .p-4 { padding:1rem; }

 /* Colors */ .text-primary { color:#42bec9; }

 .bg-primary { background-color:#42bec9; }

 .text-secondary { color:#ebe9eb; }

 .bg-secondary { background-color:#ebe9eb; }

 .text-success { color:#28a745; }

 .bg-success { background-color:#28a745; }

 .text-info { color:#17a2b8; }

 .bg-info { background-color:#17a2b8; }

 .text-warning { color:#ffc107; }

 .bg-warning { background-color:#ffc107; }

 .text-danger { color:#dc3545; }

 .bg-danger { background-color:#dc3545; }

 .text-light { color:#f8f9fa; }

 .bg-light { background-color:#f8f9fa; }

 .text-dark { color:#343a40; }

 .bg-dark { background-color:#343a40; }

 .text-white { color:#fff; }

 .bg-white { background-color:#fff; }

 .text-black { color:#000; }

 .bg-black { background-color:#000; }

 a { color:#42bec9; text-decoration:none; background-color:transparent; transition:all 0.2s; }

 a:hover { color:#309ea8; text-decoration:none; }

 h1,h2,h3,h4,h5,h6,body .elementor-heading-title { color:#000; font-family:Texta Alt, arial, sans-serif; }

 h1,body .elementor-widget-heading .elementor-heading-title.elementor-size-xxl { font-size:48px; font-weight:700; letter-spacing:-0.48px; line-height:0.9; }

 h2,body .elementor-widget-heading .elementor-heading-title.elementor-size-xl { font-size:38px; font-weight:700; letter-spacing:-0.76px; line-height:0.95; }

 h3,body .elementor-widget-heading .elementor-heading-title.elementor-size-large { font-size:24px; }

 h4 { font-size:22px; }

 h5,body .elementor-widget-heading .elementor-heading-title.elementor-size-medium { font-size:20px; }

 h6,body .elementor-widget-heading .elementor-heading-title.elementor-size-small { font-size:14px; }

 .btn,button,.wpforms-page-button,.elementor-form .elementor-button { line-height:1.5; font-size:1rem; border-radius:3px; border:1px solid; display:inline-block; padding:7px 15px; text-align:center; cursor:pointer; font-weight:600; transition:all 0.2s; }

 .btn-block,.elementor-align-justify .elementor-button-wrapper .btn,.elementor-align-justify .elementor-button-wrapper button,.elementor-align-justify .elementor-button-wrapper .wpforms-page-button,.elementor-align-justify .elementor-button-wrapper .elementor-form .elementor-button,.elementor-form .elementor-align-justify .elementor-button-wrapper .elementor-button { display:block; width:100%; }

 .btn-xs { font-size:0.875rem; padding:7px 15px; }

 .btn-sm { font-size:0.96rem; padding:7px 15px; }

 .btn-md { font-size:1rem; padding:7px 15px; }

 .btn-lg { font-size:1.25rem; padding:7px 15px; }

 .btn-xl { font-size:1.33rem; padding:7px 15px; }

 .btn .elementor-align-icon-right,button .elementor-align-icon-right,.wpforms-page-button .elementor-align-icon-right,.elementor-form .elementor-button .elementor-align-icon-right { margin-left:5px; order:15; }

 .btn-primary,.elementor-form .elementor-button { color:#343a40; background-color:#42bec9; border-color:#42bec9; }

 .btn-primary:hover,.elementor-form .elementor-button:hover,.btn-primary:focus,.elementor-form .elementor-button:focus { color:#343a40; background-color:#33a8b2; border-color:#33a8b2; }

 .btn-secondary,button,.wpforms-page-button { color:#343a40; background-color:#ebe9eb; border-color:#ebe9eb; }

 .btn-secondary:hover,button:hover,.wpforms-page-button:hover,.btn-secondary:focus,button:focus,.wpforms-page-button:focus { color:#343a40; background-color:#d9d5d9; border-color:#d9d5d9; }

 .btn-success { color:#fff; background-color:#28a745; border-color:#28a745; }

 .btn-success:hover,.btn-success:focus { color:#fff; background-color:#218838; border-color:#218838; }

 .btn-info { color:#fff; background-color:#17a2b8; border-color:#17a2b8; }

 .btn-info:hover,.btn-info:focus { color:#fff; background-color:#138496; border-color:#138496; }

 .btn-warning { color:#343a40; background-color:#ffc107; border-color:#ffc107; }

 .btn-warning:hover,.btn-warning:focus { color:#343a40; background-color:#e0a800; border-color:#e0a800; }

 .btn-danger { color:#fff; background-color:#dc3545; border-color:#dc3545; }

 .btn-danger:hover,.btn-danger:focus { color:#fff; background-color:#c82333; border-color:#c82333; }

 .btn-light { color:#343a40; background-color:#f8f9fa; border-color:#f8f9fa; }

 .btn-light:hover,.btn-light:focus { color:#343a40; background-color:#e2e6ea; border-color:#e2e6ea; }

 .btn-dark { color:#fff; background-color:#343a40; border-color:#343a40; }

 .btn-dark:hover,.btn-dark:focus { color:#fff; background-color:#23272b; border-color:#23272b; }

 .btn-white { color:#343a40; background-color:#fff; border-color:#fff; }

 .btn-white:hover,.btn-white:focus { color:#343a40; background-color:#ececec; border-color:#ececec; }

 .btn-black { color:#fff; background-color:#000; border-color:#000; }

 .btn-black:hover,.btn-black:focus { color:#fff; background-color:#000; border-color:#000; }

 .btn-outline-primary { color:#42bec9; background-color:transparent; border-color:#42bec9; }

 .btn-outline-primary:hover,.btn-outline-primary:focus { color:#343a40; background-color:#42bec9; border-color:#42bec9; }

 .btn-outline-secondary { color:#ebe9eb; background-color:transparent; border-color:#ebe9eb; }

 .btn-outline-secondary:hover,.btn-outline-secondary:focus { color:#343a40; background-color:#ebe9eb; border-color:#ebe9eb; }

 .btn-outline-success { color:#28a745; background-color:transparent; border-color:#28a745; }

 .btn-outline-success:hover,.btn-outline-success:focus { color:#fff; background-color:#28a745; border-color:#28a745; }

 .btn-outline-info { color:#17a2b8; background-color:transparent; border-color:#17a2b8; }

 .btn-outline-info:hover,.btn-outline-info:focus { color:#fff; background-color:#17a2b8; border-color:#17a2b8; }

 .btn-outline-warning { color:#ffc107; background-color:transparent; border-color:#ffc107; }

 .btn-outline-warning:hover,.btn-outline-warning:focus { color:#343a40; background-color:#ffc107; border-color:#ffc107; }

 .btn-outline-danger { color:#dc3545; background-color:transparent; border-color:#dc3545; }

 .btn-outline-danger:hover,.btn-outline-danger:focus { color:#fff; background-color:#dc3545; border-color:#dc3545; }

 .btn-outline-light { color:#f8f9fa; background-color:transparent; border-color:#f8f9fa; }

 .btn-outline-light:hover,.btn-outline-light:focus { color:#343a40; background-color:#f8f9fa; border-color:#f8f9fa; }

 .btn-outline-dark { color:#343a40; background-color:transparent; border-color:#343a40; }

 .btn-outline-dark:hover,.btn-outline-dark:focus { color:#fff; background-color:#343a40; border-color:#343a40; }

 .btn-outline-white { color:#fff; background-color:transparent; border-color:#fff; }

 .btn-outline-white:hover,.btn-outline-white:focus { color:#343a40; background-color:#fff; border-color:#fff; }

 .btn-outline-black { color:#000; background-color:transparent; border-color:#000; }

 .btn-outline-black:hover,.btn-outline-black:focus { color:#fff; background-color:#000; border-color:#000; }

 .wpforms-field { display:block; margin-bottom:10px; }

 .wpforms-field-label,.wpforms-field-sublabel,.elementor-widget-form .elementor-field-group > label { cursor:pointer; font-weight:500; font-family:arial, sans-serif; margin:0; display:block; }

 .wpforms-field-textarea textarea,.wpforms-field-address select,.wpforms-field-select select,.wpforms-field-email input,.wpforms-field-number input,.wpforms-field-name input,.wpforms-field-phone input,.wpforms-field-address input,.wpforms-field-date-time input,.wpforms-field-url input,.wpforms-field-password input,.wpforms-field-text input,.elementor-field-group .elementor-field-textual { width:100%; font-weight:400; font-family:arial, sans-serif; font-size:1rem; border-radius:3px; padding:10px 14px; background:#fff; border:1px solid #ccc; color:#333; margin:0; min-height:44px; }

 .wpforms-field-textarea textarea:focus,.wpforms-field-address select:focus,.wpforms-field-select select:focus,.wpforms-field-email input:focus,.wpforms-field-number input:focus,.wpforms-field-name input:focus,.wpforms-field-phone input:focus,.wpforms-field-address input:focus,.wpforms-field-date-time input:focus,.wpforms-field-url input:focus,.wpforms-field-password input:focus,.wpforms-field-text input:focus,.elementor-field-group .elementor-field-textual:focus { -webkit-box-shadow:0 0 0 1px rgba(0, 0, 0, .1) inset; box-shadow:inset 0 0 0 1px rgba(0, 0, 0, .1); outline:0; }

 .wpforms-field-textarea textarea { overflow:auto; resize:vertical; }

 .wpforms-field-address select,.wpforms-field-select select { appearance:none; -webkit-appearance:none; -moz-appearance:none; padding-right:20px; }

 .wpforms-field-sublabel { font-size:0.875rem; }

 .wpforms-field-sublabel.after { margin-top:2px; }

 .wpforms-field-radio ul,.wpforms-field-checkbox ul { list-style:none; padding:0; margin:0; }

 .wpforms-field-radio ul input,.wpforms-field-checkbox ul input { margin-right:3px; }

 .wpforms-field-hp,.wpforms-label-hide { display:none; }

 input.wpforms-errors { border-color:#dc3545; }

 label.wpforms-error { color:#dc3545; }

 .wpforms-field-row { display:flex; margin-left:-5px; margin-right:-5px; margin-bottom:5px; }

 .wpforms-field-row > div,.wpforms-field-row-block { width:100%; padding-left:5px; padding-right:5px; }

 .wpforms-one-half { flex:0 0 50%; max-width:50%; }

 .alignright { float:right; margin-left:1rem; }

 .alignleft { float:left; margin-right:1rem; }

 .aligncenter { clear:both; display:block; margin-left:auto; margin-right:auto; }

 .pagination { margin:20px auto; }

 .sticky { position:relative; display:block; }

 .bypostauthor { font-size:inherit; }

 .gallery-caption { display:block; font-size:0.8125rem; line-height:1.5; margin:0; padding:0.75rem; }

 .wp-caption { margin-bottom:1.25rem; max-width:100%; }

 .wp-caption.alignleft { margin:5px 20px 20px 0; }

 .wp-caption.alignright { margin:5px 0 20px 20px; }

 .wp-caption img { display:block; margin-left:auto; margin-right:auto; }

 .wp-caption-text { margin:0; text-align:center; }

 .screen-reader-text { clip:rect(1px, 1px, 1px, 1px); height:1px; overflow:hidden; position:absolute !important; width:1px; word-wrap:normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */ }

 .screen-reader-text:focus { background-color:#eee; clip:auto !important; -webkit-clip-path:none; clip-path:none; color:#333; display:block; font-size:1rem; height:auto; left:5px; line-height:normal; padding:15px 23px 14px; text-decoration:none; top:5px; width:auto; z-index:100000; /* Above WP toolbar. */ }

 #comments .comment-list { margin:0; padding:0; list-style:none; font-size:0.9em; }

 #comments .comment,#comments .pingback { position:relative; }

 #comments .comment .comment-body,#comments .pingback .comment-body { display:-webkit-box; display:-ms-flexbox; display:flex; -webkit-box-orient:vertical; -webkit-box-direction:normal; -ms-flex-direction:column; flex-direction:column; padding:30px 0 30px 60px; border-bottom:1px solid #ccc; }

 body.rtl #comments .comment .comment-body,body.rtl #comments .pingback .comment-body { padding:30px 60px 30px 0; }

 #comments .comment .avatar,#comments .pingback .avatar { position:absolute; left:0; border-radius:50%; margin-right:10px; }

 body.rtl #comments .comment .avatar,body.rtl #comments .pingback .avatar { left:auto; right:0; margin-right:0; margin-left:10px; }

 #comments .comment-meta { display:-webkit-box; display:-ms-flexbox; display:flex; -webkit-box-pack:justify; -ms-flex-pack:justify; justify-content:space-between; margin-bottom:0.9rem; }

 #comments .reply,#comments .comment-metadata { font-size:11px; line-height:1; }

 #comments .children { position:relative; list-style:none; margin:0; padding-left:30px; }

 body.rtl #comments .children { padding-left:0; padding-right:30px; }

 #comments .children li:last-child { padding-bottom:0; }

 #comments ol.comment-list .children:before { display:inline-block; font-size:1em; font-weight:normal; line-height:100%; content:'\21AA'; position:absolute; top:45px; left:0; width:auto; }

 body.rtl #comments ol.comment-list .children:before { content:'\21A9'; left:auto; right:0; }

 @media (min-width:768px) { #comments .comment-author,#comments .comment-metadata { line-height:1; }

 }

 @media (max-width:767px) { #comments .comment .comment-body { padding:30px 0; }

 #comments .children { padding-left:20px; }

 #comments .comment .avatar { position:inherit; float:left; }

 body.rtl #comments .comment .avatar { float:right; }

 }

 /* elementor */ .elementor-widget-theme-site-logo [src$=".svg"] { width:auto !important; }

 /* button */ /* headings */ /* forms *//*# sourceMappingURL=style.css.map */

 .clickable { cursor: pointer; }


.blogs-filter__form {
	min-width: 315px;
	padding: 0 0 0 14px;
	border: 1px solid #D5DBE2;
	border-radius: 8px;
	display: flex;
	align-items: center;
}
.blogs-filter__form input {
	border: none;
	flex-grow: 1;
}
