.hiw-slider { text-align: center; overflow: hidden; }
.cs { transition: all 0.5s; padding-left: 5px; padding-right: 5px; display: inline-flex; flex-wrap: wrap; text-align: left; justify-content: center; margin-bottom: 0; }
.cs.swiper-slide { height: auto; }
.cs__swiper .swiper-button-next,
.cs__swiper .swiper-button-prev {
	opacity: 0;
	height: 25px;
	width: 15px;
	display: none;
	background-image: url("data:image/svg+xml,%3Csvg width='14' height='27' viewBox='0 0 14 27' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L13 13.5L1 26' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}
.cs__swiper .swiper-button-next {
	right: 0;
}
.cs__swiper .swiper-button-prev {
	transform: scaleX(-1);
	left: 0;
}

.swiper-pagination {
	bottom: -60px!important;
}

.swiper-pagination-bullet {
	width: 10px;
	height: 10px;
	opacity: 1;
	background: #CCD6E2;
}

	.swiper-pagination-bullet-active {
		background: #3FAFD7;
	}

.swiper-container-initialized .cs { opacity: 0.5; } /*opacity: 0.3;*/
.swiper-container-initialized .cs.swiper-slide-active { opacity: 1; }
.swiper-container-initialized .swiper-button-next:not(.swiper-button-disabled),
.swiper-container-initialized .swiper-button-prev:not(.swiper-button-disabled) {
	opacity: 1;
}


@media (max-width: 767px) {
    .cs__swiper .swiper-button-next,
    .cs__swiper .swiper-button-prev { display: none!important; }

	.cs__content { padding: 0px; }
	.cs__quote { font-size: 18px; }
	.cs__details { display: block; }
	.cs__position:before { display: none; }
}

.swiper-slide {
	max-width: 940px;
	background: #FFFFFF;
	border: 1px solid #DEE5EE;
	box-sizing: border-box;
	border-radius: 20px;
	padding: 30px;
}
		@media (min-width: 768px) {
			.swiper-slide {
				padding: 60px;
			}
		}

.cs__content { 
	width: 100%; 
	align-content: center;
    justify-content: center;
    display: flex;
}

.cs__body {
	display: flex;
	flex-direction: row; 
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

	@media (max-width: 767px) {
		.cs__body {
			flex-direction: column-reverse;
		}
	}

.cs__feature--content {
	width: 100%;
	max-width: 295px;
}

	.cs__feature--icon {
		display: inline-block;
		margin: 0 0 20px 0;
	}

	.cs__feature--content h4 {
		font-family: Lato;
		font-style: normal;
		font-weight: 600;
		font-size: 28px;
		line-height: 100%;
		color: #171F28;
		text-align: left;
		text-transform: none;
		letter-spacing: normal;
		margin: 0 0 20px 0;
	}

	.cs__feature--content > div {
		font-family: Lato;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		line-height: 150%;
		display: flex;
		align-items: center;
		color: #4F5F72;
		margin: 0 0 30px 0;
	}

	.cs__feature--content > div > *:last-child {
		margin-bottom: 0;
	}

	.cs__feature--content .button {
		font-family: Lato;
		font-style: normal;
		font-weight: bold;
		font-size: 18px;
		line-height: 150%;
		display: inline-block;
		position: relative;
		align-items: center;
		color: #358FC4;
	}

		.cs__feature--content .button:after {
			display: inline-block;
			content: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTEwIDhMMTQgMTJMMTAgMTYiIHN0cm9rZT0iIzQyOTlFMSIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiLz4KPC9zdmc+Cg==");
			position: absolute;
			top: 3px;
		}

.cs__feature--image {
	max-width: 470px;
	width: 100%;
}